<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Refresh" content="600">
    <title>Tracking Intertug: Posicion Actual Flota Perú</title>
    <style>
      html, body, #map-canvas{
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&language=es"></script>
    
  </head>
  <body>
    <div id="map-canvas"></div>

<script>

    var image = "http://i.imgur.com/qqxD2uN.png";//"http://i.imgur.com/yoZQPZu.gif";
    var imagenPlataforma = "http://i.imgur.com/7Ecw2M5.png";
    var imagenPropuesta = "http://s7.postimg.org/pz2ndrm9z/Offshore_Tower_Red.png?noCache=1422656982";
    var imagenMuelle = "http://i.imgur.com/OfPqcEL.png";
    var imageWaves = "http://s8.postimg.org/3u8drhhsx/Waves.png?noCache=1422657376";
    var infoVentana = null;

  var AmarraderoAlbacora;
  var AmarraderoCorvinaB;
  var AmarraderoCorvina;

    function inicial(){

      var centro = new google.maps.LatLng(-3.920865, -80.507695);

      var opciones = {
        zoom: 9,
        center: centro,
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        mapTypeControl: true,
        mapTypeControlOptions:{
          position: google.maps.ControlPosition.LEFT_TOP
        },
        streetViewControl: false,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
        },
        panControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER
        },
        scaleControl: true,
        scaleControlOptions: {
          position: google.maps.ControlPosition.BOTTOM_CENTER
        },

      }

      var mapa = new google.maps.Map(document.getElementById("map-canvas"), opciones);


      AmarraderoAlbacora.setMap(mapa);
      AmarraderoCorvinaB.setMap(mapa);
      AmarraderoCorvina.setMap(mapa);
      setMarkers(mapa, plataformas);
      setMarcadores(mapa, tugs);
      infoVentana = new google.maps.InfoWindow({
        content: ""
      });

      var homeControlDiv = document.createElement('div');
      var homeControl = new HomeControl(homeControlDiv, mapa);

      homeControlDiv.index = 1;
      mapa.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);

    }

      // Define the LatLng coordinates for the polygon's path.
  var AmarraderoAlbacoraCoords = [
    new google.maps.LatLng(-3.418054, -80.590462),
    new google.maps.LatLng(-3.415512, -80.589995),
    new google.maps.LatLng(-3.414516, -80.588213),
    new google.maps.LatLng(-3.413610, -80.585864),
    new google.maps.LatLng(-3.415247, -80.585188),
    new google.maps.LatLng(-3.415872, -80.587411),
  ];

    var AmarraderoCorvinaBCoords = [
    new google.maps.LatLng(-3.591131, -80.747214),
    new google.maps.LatLng(-3.588697, -80.745703),
    new google.maps.LatLng(-3.588037, -80.747269),
    new google.maps.LatLng(-3.590471, -80.748502),
  ];

    var AmarraderoCorvinaCoords = [
    new google.maps.LatLng(-3.586989, -80.751051),
    new google.maps.LatLng(-3.584799, -80.749836),
    new google.maps.LatLng(-3.584022, -80.751340),
    new google.maps.LatLng(-3.586302, -80.752419),
  ];

  // Construct the polygon.
  AmarraderoAlbacora = new google.maps.Polygon({
    paths: AmarraderoAlbacoraCoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });
    // Construct the polygon.

  AmarraderoCorvinaB = new google.maps.Polygon({
    paths: AmarraderoCorvinaBCoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });

    // Construct the polygon.
  AmarraderoCorvina = new google.maps.Polygon({
    paths: AmarraderoCorvinaCoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });

    function crearZoom(controlDiv, map, nombre){

      controlDiv.style.padding = '5px';

      var controlUI = document.createElement('div');
      controlUI.style.backgroundColor = 'white';
      controlUI.style.borderStyle = 'solid';
      controlUI.style.borderWidth = '2px';
      controlUI.style.cursor = 'pointer';
      controlUI.style.textAlign = 'center';
      controlUI.title = 'Centrar '+ nombre;
      controlDiv.appendChild(controlUI);

      var controlText = document.createElement('div');
      controlText.style.fontFamily = 'Arial,sans-serif';
      controlText.style.fontSize = '12px';
      controlText.style.paddingLeft = '4px';
      controlText.style.paddingRight = '4px';
      controlText.innerHTML = '<b>'+nombre+'</b>';
      controlUI.appendChild(controlText);

      //agregar remolcador = new google.maps.LatLng(tugs[n][1], tugs[n][2]);

      mistral = new google.maps.LatLng(tugs[0][1], tugs[0][2]);
      vali = new google.maps.LatLng(tugs[1][1], tugs[1][2]);
      barupacifico = new google.maps.LatLng(tugs[2][1], tugs[2][2]);
      baruinti = new google.maps.LatLng(tugs[3][1], tugs[3][2]);
      /*
      odin = new google.maps.LatLng(tugs[8][1], tugs[8][2]);
      ran = new google.maps.LatLng(tugs[12][1], tugs[12][2]);
      cristina = new google.maps.LatLng(tugs[14][1], tugs[14][2]);
      */
      google.maps.event.addDomListener(controlUI, 'click', function() {
        

        if(nombre == 'Mistral'){
          map.setCenter(mistral);
        }
        else if(nombre == 'Vali'){
          map.setCenter(vali);
        }
        else if(nombre == 'BaruPacifico'){
          map.setCenter(barupacifico);
        }
        else if(nombre == 'BaruInti'){
          map.setCenter(baruinti);
        }
        /*
        else if(nombre == 'Odin'){
          map.setCenter(odin);
        }
        else if(nombre == 'Ran'){
          map.setCenter(ran);
        }
        else if(nombre == 'Cristina'){
          map.setCenter(cristina);
        }
        */
        map.setZoom(11)
      });

    }

    function HomeControl(controlDiv, map) {

      // crearZoom(controlDiv, map, 'Remolcador');
      crearZoom(controlDiv, map, 'BaruInti'); 
      crearZoom(controlDiv, map, 'BaruPacifico'); 
      crearZoom(controlDiv, map, 'Mistral');
      crearZoom(controlDiv, map, 'Vali');    
            
      /*
      crearZoom(controlDiv, map, 'Odin');
      crearZoom(controlDiv, map, 'Ran');
      crearZoom(controlDiv, map, 'Cristina');
      */
    }


    var tugs = [

      /*
      agregar:
      ["Remolcador", {{loopRemolcador.0}}, {{loopRemolcador.1}}, 1, "Nombre: <strong>Remolcador</strong> <br/> Fecha: {{loopRemolcador.3}} <br/> Velocidad: {{loopRemolcador.2}} Nudos"],
      */
      ["Mistral", {{loopMistral.0}}, {{loopMistral.1}}, 4, "Nombre: <strong>Mistral</strong> <br/> Fecha: {{loopMistral.3}} <br/> Velocidad:  {{loopMistral.2}} Nudos"],
      ["Vali", {{loopVali.0}}, {{loopVali.1}}, 4, "Nombre: <strong>Vali</strong> <br/> Fecha: {{loopVali.3}} <br/> Velocidad:  {{loopVali.2}} Nudos"],
      ["BaruPacifico", {{loopBarupacifico.0}}, {{loopBarupacifico.1}}, 4, "Nombre: <strong>Barú Pacífico</strong> <br/> Fecha: {{loopBarupacifico.3}} <br/> Velocidad:  {{loopBarupacifico.2}} Nudos"],
      ["BaruInti", {{loopBaruInti.0}}, {{loopBaruInti.1}}, 4, "Nombre: <strong>Barú Inti</strong> <br/> Fecha: {{loopBaruInti.3}} <br/> Velocidad:  {{loopBaruInti.2}} Nudos"],
      /*
      ["Odin", {{loopOdin.0}}, {{loopOdin.1}}, 4, "Nombre: <strong>Odin</strong> <br/> Fecha: {{loopOdin.3}} <br/> Velocidad:  {{loopOdin.2}} Nudos"],
      ["Ran", {{loopRan.0}}, {{loopRan.1}}, 4, "Nombre: <strong>Ran</strong> <br/> Fecha: {{loopRan.3}} <br/> Velocidad:  {{loopRan.2}} Nudos"],
      ["Cristina", {{loopCristina.0}}, {{loopCristina.1}}, 4, "Nombre: <strong>Cristina</strong> <br/> Fecha: {{loopCristina.3}} <br/> Velocidad:  {{loopCristina.2}} Nudos"],
            */
    ];

    var plataformas = [

      ["existente", -3.59541666666, -80.73716666666667, 1, "CX11"],
      ["existente", -3.60750, -80.73667, 1, "CX15"],
      ["existente", -3.42000, -80.58362, 1, "Z1-8-A"],
      ["muelle", -3.633691, -80.587355, 1, "Muelle La Cruz"],
      //["zona", -3.599067, -80.704733, 1, "Corvina Este-1X"],
      //["zona", -3.570900, -80.829583, 1, "Zona R"],
      //["zona", -3.540667, -80.853617, 1, "Z1-305"],
      //["propuesta", -3.522417, -80.845783, 1, "Raya: Zona A"],
      //["propuesta", -3.632433, -80.776300, 1, "Zona B-Delfin 1X"],
      //["propuesta", -3.762750, -80.864067, 1, "Piedra Redonda Z1-14"],
      //["existente", -3.806533, -80.891750, 1, "Piedra Redonda"],

    ];

    function setMarkers(mapa, markers){

        for (var i = 0; i < markers.length; i++) {

        var plataformas = markers[i];
        var platLatLon = new google.maps.LatLng(plataformas[1], plataformas[2]);
        var marcador = new google.maps.Marker({
          position: platLatLon,
          map: mapa,
          icon: (plataformas[0] == "muelle" ? imagenMuelle : (plataformas[0] == "existente" ? imagenPlataforma : ( plataformas[0] == "zona"? imageWaves: imagenPropuesta))),
          draggable: false,
          title: plataformas[0],
          zIndex: plataformas[3],
          html: plataformas[4],
        });

        google.maps.event.addListener(marcador, "mouseover", function () {
          infoVentana.setContent(this.html);
          infoVentana.open(mapa, this);
        });

      }
    }

    function setMarcadores(mapa, marcadores) {

      for (var i = 0; i < marcadores.length; i++) {

        var tugs = marcadores[i];
        var tugsLatLon = new google.maps.LatLng(tugs[1], tugs[2]);
        var marcador = new google.maps.Marker({
          position: tugsLatLon,
          map: mapa,
          icon: image,
          draggable: false,
          title: tugs[0],
          zIndex: tugs[3],
          html: tugs[4],
        });

        google.maps.event.addListener(marcador, "mouseover", function () {
          infoVentana.setContent(this.html);
          infoVentana.open(mapa, this);
        });

        google.maps.event.addListener(marcador, "click", function () {

          /*
          agregar:
          else if (this.title == "Remolcador"){
            window.location = "remolcador";            
          }
          */
          if (this.title == "Mistral"){
            window.location = "mistral";            
          }
          else if (this.title == "Vali"){
            window.location = "vali";            
          }
          else if (this.title == "BaruPacifico"){
            window.location = "barupacifico";            
          }
          else if (this.title == "BaruInti"){
            window.location = "baruinti";            
          }
          /*
          else if (this.title == "Odin"){
            window.location = "odin";            
          }
          else if (this.title == "Ran"){
            window.location = "ran";            
          }
          else if (this.title == "Cristina"){
            window.location = "cristina";            
          }

          */
        });

        google.maps.event.addListener(marcador, "mouseout", function () {
          infoVentana.close();

        });
      }
    }

    google.maps.event.addDomListener(window, 'load', inicial);

    </script>
  </body>
</html>
